{{#ANON}}
{{!<div class="message message-bar discovery-messagebar">
    <p class="content-std-elastic">
        Urlist is awesome, you should sign up.
        <a href="#" class="button action wider js-signup">Signup</a>
    </p>
</div>}}
{{/ANON}}


<div class="discovery-heading" data-source="Discovery:popular">
    <div class="content-std-elastic is--fluid">
        <h3>Popular</h3>
    </div>
</div>
<div class="content-std-elastic is--fluid">
    <div class="widget-wrapper last {{#ANON}}not-logged{{/ANON}}" data-view="popular"></div>
</div>


{{#ANON}}
<div class="discovery-bannercta-signup">
    <div class="content-std-elastic is--fluid">
        <p>Start organizing your surfing in a clever way! <a href="#" class="button action wider js-signup">Learn More</a></p>
    </div>
</div>
{{/ANON}}

