<div class="list-selector">
    <div class="line break-mobile">
        <div class="column column-main">
            <input class="input-relist-to js-input-relist-to" type="text" name="target-name" placeholder="Search your lists" />
            <span class="status js-relister-trigger">
                <i class="mini-icon icon-small-search"></i>
            </span>
            <input class="js-input-relist-to-store" name="target-list" type="hidden" />
            <div class="section-relist"></div>
        </div>
        <div class="column column-sub contiguous-next">
            <a href="#" class="start-new-list js-start-new-list">+ New List</a>
        </div>
    </div>

    <div class="list-selector__sub_section js-sub-section clearfix"></div>

</div>
