<div id="main" class="container">

    <div id="header"></div>

    <div id="content"></div>

    <div id="footer" class="hide js-footer-main">
        <div class="line content-std-elastic is--fluid navbar">
            <ul class="nav left">
                <li>
                    <a class="logo-footer" href="//urli.st" title="Urlist">
                        <img src="/static/assets/logo-footer.png" alt="Urlist" />
                    </a>
                </li>
                <li><a href="/resources/about" class="js-navigate">About</a></li>
                <li><a href="/resources/terms" class="js-navigate">Terms &amp; Privacy</a></li>
                <li><a href="/resources/help" class="js-navigate">Urlist Basics</a></li>
                <li><a href="http://blog.urli.st" class="external">Blog</a></li>
                <li>
                    <a title="Visit Us on Facebook" href="https://www.facebook.com/urlist" class="external" target="_blank">Facebook</a>
                </li>
                <li>
                    <a title="Follow Us on Twitter" href="https://twitter.com/urlist" class="external" target="_blank">Twitter</a>
                </li>
            </ul>
            <ul class="nav right">
                <li>
                    <span>Copyright 2013 Urlist srl</span>
                </li>
            </ul>
        </div>
    </div>

    <a class="sticker-scrollTop js-scrolltop" href="#">Back to Top</a>

</div>
