<div class="discovery-page">
    <div class="page-header header-category">
        <div class="content-std-elastic is--fluid">
            <h1 class="page-title">Popular</h1>
        </div>
    </div>
    <div class="page-actions"></div>
    <div class="content-full-elastic">
        <div class="widget-wrapper last {{#ANON}}not-logged{{/ANON}}" data-view="popular"></div>
    </div>
</div>

{{#ANON}}
<div class="discovery-bannercta-signup">
    <div class="content-std-elastic is--fluid">
        <p>Start organizing your surfing in a clever way! <a href="#" class="button action wider js-signup">Learn More</a></p>
    </div>
</div>
{{/ANON}}
