<div class="category-onboarding-header">
    <div class="wrapper">
        <h4 class="title">Get the <strong>Urlist Button</strong></h4>
        <div class="pagination-next">
            <a href="#" class="button">Next &raquo;</a>
        </div>
    </div>
</div>

<div class="content-std-elastic is--fluid">

    <div class="onboarding-step onboarding-step--get-bookmarklet">

        <h2 class="subtitle"><strong>Save links faster</strong> than the <strong>speed of light!</strong></h2>

        <a href="#bookmarkletCodeHere" class="button confirm button-bookmarklet-todrag">Drag this on your <strong>Bookmarks Bar</strong></a>

        <p><img class="image-showcase" src="/static/assets/resources/onboarding/step-bookmarklet/showcase-bookmarklet.jpg" alt=""></p>

    </div>
</div>
