<div class="dialog-header">
    Add Password
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column three">
            <span class="simple-label">New Password</span>
        </dt>
        <dd class="column seven">
            <input class="textfield" type="password" name="new_password" />
        </dd>
    </dl>

    <dl class="form-item">
        <dt class="column three">
            <span class="simple-label">Type it again</span>
        </dt>
        <dd class="column seven">
            <input class="textfield" type="password" name="confirm_password" />
        </dd>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Save" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>
