<div class="dialog-header">
    Contributors
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column four">
            <label>Invite people to join</label>
        </dt>
        <dd class="column eight">
            <div class="collaborators-find clearfix">
                <input class="textfield js-input-contributor" type="text" placeholder="Username" />
                <input class="js-input-contributor-store" type="hidden" />
                <input class="js-input-contributor-delete" type="hidden" />
            </div>
        </dd>
    </dl>

    <dl class="line form-item collaborators-box">
        <dt class="column two hide">
            <button class="button widest add-contributor js-add-contributor">Invite</button>
        </dt>
        <dd class="column eight move-by-four">
            <ul class="collaborators-list js-contributors">
            </ul>
        </dd>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Done" />
        </li>
    </ul>

</div>
