<div class="dialog-header">
    Delete Account
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column twelve">
            <h5 class="question is--important">Are you sure to delete your Urlist account?</h5>
        </dt>
    </dl>

    <dl class="form-item">
        <dt class="column twelve">
            <p>
                If there’s nothing we can do for you to make you happy, click “YES” and all your data will be deleted.
                <strong>This action cannot be undone.</strong>
            </p>
        </dt>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <a href="#" class="button button--verbose js-deactivate-account--yes">Yes, delete me!</a>
        </li>
        <li>
            <a href="#" class="button action button--verbose js-deactivate-account--no">No, I want to stay!</a>
        </li>
    </ul>

</div>
