<div class="dialog-header">
    Remove contributor
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column twelve">

            <p class="description description--lead">
                Are you sure you want to remove <strong>{{screen_name}}</strong> from this list?
            </p>

        </dt>
    </dl>

</div>
<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Remove" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>
