<div class="dialog-header">
    Edit Password
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <div class="line">
        <div class="column twelve">
            <p class="content-alert alert-error alert-small js-error-message hide" data-error="not-match">
                Passwords don't match
            </p>
            <p class="content-alert alert-error alert-small js-error-message hide" data-error="too-short">
                Password must be at least 6 characters
            </p>
            <p class="content-alert alert-error alert-small js-error-message hide" data-error="wrong-password">
                The current password you've entered is incorrect
            </p>
        </div>
    </div>

    <dl class="form-item">
        <dt class="column three">
            <label>Old Password</label>
        </dt>
        <dd class="column seven">
            <input class="textfield" type="password" name="old_password" />
            <div class="line align-right">
                <a class="js-recover-password" href="#">Forgot your Password?</a>
            </div>
        </dd>
    </dl>

    <dl class="form-item">
        <dt class="column three">
            <label>New Password</label>
        </dt>
        <dd class="column seven">
            <input class="textfield" type="password" name="new_password" />
        </dd>
    </dl>

    <dl class="form-item">
        <dt class="column three">
            <label>Type it again</label>
        </dt>
        <dd class="column seven">
            <input class="textfield" type="password" name="confirm_password" />
        </dd>
    </dl>

</div>

<div class="dialog-actions">

    <input class="button action js-url-save" type="submit" value="Save" />
    <button class="button neutral js-dialog-close js-cancel">Cancel</button>

</div>
