<div class="dialog-header">
    Leave a Feedback
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item form-item--alone form-item--prominent">
        <div class="column twelve">
            <h5 class="question">Suggestions? Complaints?</h5>
            <p>Tell us what you think about Urlist</p>
        </div>
    </dl>

    <dl class="form-item">
        <dt class="column four">
            <label>Your email address <i>(optional)</i></label>
        </dt>
        <dd class="column eight">
            <input class="textfield" type="email" name="email" />
        </dd>
    </dl>

    <dl class="form-item">
        <dt class="column four">
            <label>Your message</label>
        </dt>
        <dd class="column eight">
            <textarea class="js-simple-textarea" name="message" placeholder="Dear Urlist..."></textarea>
        </dd>
    </dl>

</div>
<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Send" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>

