<div class="dialog-header">
    Delete {{what}}
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column twelve">
            <h5 class="question is--important">Are you sure to delete this <em>{{what}}</em>?</h5>
            <p class="description description--lead">
                {{#if description}} {{description}} <br> {{/if}}
                <strong>This action cannot be undone.</strong>
            </p>
        </dt>
    </dl>

</div>
<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Yes, delete" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">No, cancel</button>
        </li>
    </ul>

</div>
