<div class="dialog-header">
    Upload from Link
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column twelve">
            <input class="textfield js-url-input" type="text" name="text" placeholder="http://"/>
        </dt>
    </dl>

</div>
<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action" type="submit" value="Upload" />
        </li>
        <li>
            <button class="button js-dialog-close">Cancel</button>
        </li>
    </ul>

</div>

