<div class="dialog-header">
    Go Public
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <h5 class="information">Great!</h5>

    <p class="description">
        By pressing <strong>yes</strong>, people will be able to follow, relist and share this list.
    </p>

</div>
<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Yes!" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>
