<div class="dialog-header">
    Welcome to the new Urlist!
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column twelve">
            <p class="description description--lead">
                Dear <strong>{{screen_name}}</strong>,
            </p>
            <p class="description">
                you are now using the new Urlist beta that gives you access to <strong>new features</strong>.
                Should you have any questions or suggestions, please contact the Urlist team.
            </p>
        </dt>
    </dl>

</div>
<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Got it!" />
        </li>
    </ul>

</div>
