<div class="dialog-header">
    Recover Password
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column four">
            <label>Email Address</label>
        </dt>
        <dd class="column eight">
            <input class="textfield" type="text" name="email" placeholder="Your email" data-validator="email" value="{{email}}" />
        </dd>
    </dl>

    <dl class="form-item">
        <dt class="column twelve">
            <p>
                You will receive an <b>email with the instructions</b> to recover your password.
            </p>
        </dt>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Send" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>
