<div class="dialog-header">
    Relist a link
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">
<!-- 
    <div class="line form-item">
        <div class="column twelve">
            <h5 class="information">Choose where to add this Link</h5>
        </div>
    </div> -->

    <dl class="form-item">
        <dt class="column three">
            <label>Save the link to</label>
        </dt>
        <dd class="column nine">
            <span class="js-list-selector"></span>
        </dd>
    </dl>
    <!-- <div class="line form-item"></div> -->
    

    <input name="title" type="hidden" value="{{title}}" />
    <input name="description" type="hidden" value="{{description}}" />
</div>


<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Done" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>
