<div class="dialog-header">
    Report list
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item is--important">
        <dt class="column twelve">
            <h5 class="information">Report list</h5>
            <p>Please specify why we should remove this content</p>
        </dt>
    </dl>

    <dl class="form-item">
        <dt class="column four">
            <label>Your email address (optional)</label>
        </dt>
        <dd class="column eight">
            <input class="textfield" type="text" name="email" />
        </dd>
    </dl>

    <dl class="form-item">
        <dt class="column four">
            <label>Why are you reporting this list?</label>
        </dt>
        <dd class="column eight">
            <textarea class="js-simple-textarea" name="message" placeholder="Spam, inappropriate content, violence, hateful content..."></textarea>
        </dd>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Report" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>

