<div class="dialog-header">
    Reset Password
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <div class="line">
        <div class="column twelve">
            <p class="content-alert alert-error alert-small js-error-message hide" data-error="not-match">Passwords don't match</p>
            <p class="content-alert alert-error alert-small js-error-message hide" data-error="too-short">Password must be at least 6 characters</p>
        </div>
    </div>

    <dl class="form-item">
        <dt class="column four">
            <label>New Password</label>
        </dt>
        <dd class="column eight">
            <input class="textfield" type="password" name="new_password" />
        </dd>
    </dl>

    <dl class="form-item">
        <dt class="column four">
            <label>Type it again</label>
        </dt>
        <dd class="column eight">
            <input class="textfield" type="password" name="confirm_password" />
        </dd>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Save" />
        </li>
    </ul>
</div>
