<div class="dialog-header">
    Search cover image
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column ten">
            <input class="textfield js-make-search-input" type="text" name="text" />
            <p class="dialog-notice align-right">Source: Flickr.com</p>
        </dt>
        <dd class="column two">
            <a href="#" class="button js-make-search">Search</a>
        </dd>
    </dl>

    <ul class="search-result-list js-render-results">
    </ul>

</div>
<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action" type="submit" value="Upload" />
        </li>
        <li>
            <button class="button js-dialog-close">Cancel</button>
        </li>
    </ul>

</div>

