<div class="dialog-header">
    Edit sections
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item form-item--isolated">
        <dt class="column nine">
            <div class="textbox">
                Remaining sections <b class="counter-remaining_sections js-counter-sections-left">{{sections_left}}</b>
            </div>
        </dt>
        <dd class="column three">
            <a class="button widest js-add-section" href="#">Add section</a>
        </dd>
    </dl>  

    <dl class="form-item form-item--isolated">
        <dt class="column twelve">
            <ul class="reference-sections js-reference-sections"></ul>
        </dt>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Save" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>

