<div class="dialog-header">
    Share by email
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-line">
        <dt class="column twelve">
            <h5 class="information">Email Sent!</h5>
            <p class="description">Thank you for sharing.</p>
        </dt>
    </dl>

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <button class="button neutral js-dialog-close js-cancel">Close</button>
        </li>
    </ul>

</div>
