<div class="dialog-content">

    <p class="subheading">
        This list is updated daily <br>
        <span class="important">Sign in <strong>for free</strong> to know when new links are added!</span>
    </p>

    <a class="button button-facebook" data-track-source href="{{facebook_url}}">Connect with <span>Facebook</span></a>

    <iframe src="//www.facebook.com/plugins/facepile.php?href=http%3A%2F%2Ffacebook.com%2FUrlist&amp;app_id={{app_id}}&amp;size=small&amp;max_rows=1" scrolling="no" frameborder="0" class="promo-frame" allowTransparency="true"></iframe>

    <p class="legal">
        By creating an account, I accept Urlist’s <a href="/resources/terms" target="_blank">Terms of Service</a> and <a href="/resources/privacy" target="_blank">Privacy Policy</a>.
    </p>

</div>

