<div class="dialog-header">
    Suggest a link
    <a href="#" class="dialog-close js-dialog-close">&times;</a>
</div>

<div class="dialog-content">

    <dl class="form-item">
        <dt class="column twelve">
        <input class="textfield" type="text" name="url" value="{{suggested_url}}" autocomplete="off" data-error="Enter the URL of the link" data-validator="not-empty" placeholder="http://" />
        </dt>
    </dl>

    <dl class="form-item">
        <dt class="column twelve">
            <span class="textarea-with-toolbar on-bottom">
                <textarea class="simple-textarea js-simple-textarea" name="description" data-count="chars" data-count-limit="400" rel="description-counter" placeholder="Comment this link">{{suggested_description}}</textarea>

                <div class="toolbar">
                    <ul class="nav left">
                        <li class="secondary">
                            <span>* formatting with markdown is
                                <span class="help-area">
                                    <i class="click-me">possible</i>
                                    <cite class="tooltip-help">
                                        Links are automatically hyperlinked. Use *for bold words* and **for italic words**
                                    </cite>
                                </span>
                            </span>
                        </li>
                        {{!<li><a class="button small" href="#">Add Image</a></li>}}
                    </ul>
                    <ul class="nav right">
                        {{!
                        <li><span class="button small make-text-bold js-wrap-text-bold">Bold</span></li>
                        <li><span class="button small make-text-italic js-wrap-text-italic">Italic</span></li>
                        }}
                        <li>
                            <span class="counter-chars"><b id="description-counter">400</b> char</span>
                        </li>
                    </ul>
                </div>
            </span>
        </dt>
    </dl>

    {{#if sections}}
    <dl class="form-item">
        <dt class="column twelve">
            <select name="section" id="" aria-label="Choose section">
                {{#sections}}
                <option value="{{section_id}}">{{or title empty_title}}</option>
                {{/sections}}
            </select>
        </dt>
    </dl>
    {{/if}}

</div>

<div class="toolbar dialog-actions">

    <ul class="nav right">
        <li>
            <input class="button action js-url-save" type="submit" value="Send!" />
        </li>
        <li>
            <button class="button js-dialog-close js-cancel">Cancel</button>
        </li>
    </ul>

</div>
