{% extends "base.html" %}

{% block content %}

<h1 class="page-title">About us</h1>

<p></p>
<h3>Why Urlist?</h3>
<p>
    On the Internet the URL—the “link”—represents the basic element of information, the unique address given to identify a web resource. We are fascinated by that concept, and Urlist is our effort to create a consistent system around it.
</p>
<p>
    When you are collecting your web resources in a list, you are not just saving them for later. <br>
    You are giving back to the Web a new URL. Every single list in Urlist has its very own URL (or link) so other people in the Internet can enjoy your hand selected collection of links. Guess what, every single item in a list has its short link too. It's like a child of the list's URL! (For example, <a href="//urli.st/KTZ/qQC">urli.st/KTZ/qQC</a> is an item of the list <a href="//urli.st/KTZ">urli.st/KTZ</a>).
</p>
<p>
    We are very ambitious: our plan is to build the largest library of links, giving our users a simple, handy tool to stay close to the information they care about.
</p>
<p> 
    <strong>Because we love the Web.</strong>
</p>

<h3>Looking for help?</h3>
<p>
    We are more than happy to answer your questions. If you need help, just drop us a line at <a href="mailto:support@urli.st">support@urli.st</a> and we will take care of your problem.
</p>
<p>For everything else write to <a href="mailto:pr@urli.st">pr@urli.st</a></p>


<h3>Our Team</h3>

<p>
    <img src="//static.urli.st/website/team.jpg" alt="The Team" title="The Team" >
</p>

<h5>Alberto</h5>
<p><cite>CEO &amp; main developer, co-founder</cite></p>
<p>
    He loves simple software, best written in Python and edited in Vim, and under a BSD license. If you see Alberto around, he may be riding his bike. He wants to hug <a href="https://www.youtube.com/watch?v=sP4NMoJcFd4">every cat</a>.
</p>

<h5>Valentina</h5>
<p><cite>UI &amp; UX designer, co-founder</cite></p>
<p>
    She is a book maniac, a sci–fi lover, a chocolate enthusiast and (obviously) a geek. <br>
    You can find her on <a href="https://twitter.com/scintillaluz">twitter</a> squabbling over politics and talking about feminism.
</p>

<h5>Andrea</h5>
<p><cite>Back–end developer</cite></p>
<p>
    <a href="http://www.youtube.com/watch?v=10KObAQFmlY">Mad Scientist</a> wanna be. <br>
    He loves tea, food and mechanical keyboard. When he is not coding he is playing his guitar, which, by the way, smells good.
</p>

<h5>Riccardo</h5>
<p><cite>Front–end developer</cite></p>
<p>
    Actually alive. <br>
    He is an Art and HTML+CSS lover. Also Digital/Analog Artist/Designer wannabe. Currently he's totally nut for <a href="http://www.youtube.com/watch?v=BHjg6cTxmrQ">this</a>.
</p>

<p class="closing">
    We would like also to thank <a href="http://www.linkedin.com/profile/view?id=43351217">Fabrizio Ferreri</a>, <a href="http://twitter.com/folengo">Paolo Mazzetti</a> and <a href="https://plus.google.com/104894491871681377528/">Stefano Cavallari</a>.
</p>

<p></p>

{% end %}
