<div class="static-page">

    <div class="content-std-elastic is--fluid">

        <div class="column resources-sidebar">
            <ul class="static-menu">
                <li><a class="js-navigate" href="/resources/about">About us</a></li>
                <li><a class="js-navigate" href="/resources/help">Urlist Basics</a></li>
                <li><a class="js-navigate" href="/resources/jobs">Jobs</a></li>
                <li><a class="js-navigate" href="/resources/button">Urlist button</a></li>
                <li><a class="js-navigate" href="/resources/privacy">Privacy</a></li>
                <li><a class="js-navigate" href="/resources/terms">Terms</a></li>
            </ul>
        </div>

        <div class="column content-primary">
            {% block content %} the content {% end %}
        </div>

    </div>

</div>
