{% extends "base.html" %}

{% block content %}

<h1 class="page-title">Urlist Basics</h1>

<h3>Wonder how does Urlist work?</h3>
<h5>We prepared a quick introduction to our key features, if you experience any problem with the system just write an email to <a href="mailto:support@urli.st">support@urli.st</a></h5>

<h5><i>1.</i> Lists</h5>
<p>
    A List is a <strong>collection of resources around a topic</strong>. <br>
    You can make a list of the best vegan recipes you found, or for collecting all the sources of a blog post you’re working on. You can <strong>invite other people to add links</strong> on your lists and <strong>share any list on Urlist</strong> by email.
    <img src="/static/assets/resources/help/01-list.png" alt="">
</p>

<h5><i>2.</i> Links</h5>
<p>
    You can <strong>add links</strong> from the text field on the list page, or quickly save a web page while browsing, installing our <a href="http://urli.st/resources/button">Urlist Button</a> on your browser favorites bar.
</p>
<p>
    Get the <strong>Urlist Button</strong> here <a href="http://urli.st/resources/button">http://urli.st/resources/urlist-button</a>
    <img src="/static/assets/resources/help/02-bookmarklet.png" alt="">
</p>

<h5><i>3.</i> Play the List</h5>
<p>
    A list can be <strong>“played” like a slideshow</strong>, so you can <strong>navigate</strong> through its links moving backward and forward.
    <img src="/static/assets/resources/help/03-play.png" alt="">
</p>

<h5><i>4.</i> Add a List to your Library</h5>
<p>
    When you <strong>add a list</strong>, it will appear in your <strong>Library</strong>; this way you can always keep track of the interesting content you will discover on Urlist.
    <img src="/static/assets/resources/help/04-bookmarks.png" alt="">
</p>

<h5><i>5.</i> Relist a Link</h5>
<p>
    Any link on Urlist can be <strong>relisted</strong>. If you find an interesting link on someone else’s list use the relist to <strong>save it in one of your lists</strong>.
    <img src="/static/assets/resources/help/05-relist.png" alt="">
</p>

{% end %}
