{% extends "base.html" %}

{% block content %}

<h1 class="page-title">Jobs</h1>

<p></p>
<p class="leading">
    Urlist is a funded company located in <del>Teh Internets</del>Berlin, Germany. Our goal is to build the best platform ever where you can collect and discover interesting content. We have <a href="/ZXJ" class="js-navigate">awesome investors</a> that believe in us and in our project.
</p>

<p>By working with us, you have the opportunity to join a funded startup, located in the heart of Berlin with headquarters at <a href="http://factoryberlin.com/" target="_blank">the Factory</a>, surrounded by the best international startups in the city. We are a team of four hardcore developers and awesome designers working hard to make web discovery fun again.</p>

<h3>Javascript Hacker</h3>
<p>
    We are looking for an impressive developer to join our team. We are building the new Urlist with cutting edge technologies: If you are the right one for us, you'll have the opportunity to push the bundaries of <strong>HTML5</strong> and <strong>JS</strong>. Moreover we are passionate about what we do; and we expect no less from you!
</p>
<p>
    You are a perfectionist, passionate about good code, ready to work relentlessly for a young startup. Your git-fu is sharp and you are a console cowboy. You have great skills with <strong>Javascript, Backbone and jQuery (a plus if you know Python)</strong>.
</p>
<p>
    If Douglas Crockford does not scare you, drop us a line with your CV (or online portfolio) and your GitHub profile (if you have any) at <a href="mailto:jobs@urli.st">jobs@urli.st</a>.
</p>

<p>
    PS: Urlist &lt;3 open source software, as a developer you are welcome to release some of your code with an open source license.
</p>

<h3>Content Strategist intern (summer project)</h3>
<p>Everyone is an expert in their own way. Maybe you know everything  about the theories of the <a href="/0jA" class="js-navigate">Dyson Sphere</a>, or you’re so addicted to Oreo that you could write <a href="/uPs" class="js-navigate">The Oreology Manifesto</a>. You’re a <a href="/UEs" class="js-navigate">hijab fashionista</a> who can name more than sixty websites for buying the coolest veils ever, or you have the perfect guide on <a href="/MTH" class="js-navigate">Earth ovens and biomass cooking stoves</a>.</p>

<p>No matter what you’re interested in, you and everyone else that’s on the internet has valuable knowledge about something they love.</p>

<p>Urlist is building the largest links library on the Web, encouraging any enthusiast, either a  teacher, a designer, a developer, even lolcat lovers, to collect and share their knowledge about the most hidden corners of the Internet.</p>

<p>We believe that humans are far better curators than search engines, and that having a point of view on a particular topic is much more valuable than a bunch of SEO-organised links in the top search results.</p>

<p>We are looking for a list maniac, an avid reader, and an internet addict with strong opinions on the most diverse topics - from politics to lolcats, from art to startups. You will contribute to building our Discovery section, driving the creation of UGC, promoting the best lists, and engaging our community. You should be willing to plan and test your ideas, and measure the results (with our help setting up the process).</p>

<p>High proficiency in written English is required.</p>

<p>As Content Strategist of Urlist, you have the opportunity to join a funded startup, located in the heart of Berlin with headquarters at the Factory, surrounded by the best international startups in the city. We are a team of four hardcore developers and awesome designers working hard to make web discovery fun again.</p>

<p>Make a list, attach 300 characters on why you’re the perfect match for this position, and send both to us at: <a href="mailto:jobs@urli.st">jobs@urli.st</a></p>

<p><a href="http://somewherehq.com/a/XpnZTbwB" target="_blank">
    <img src="//somewherehq.com/images/promo/somewhere-see-yourself-here.png">
</a></p>

{% end %}

