{% extends "base.html" %}

{% block content %}

<h1 class="page-title">Terms of service</h1>

<h4>1. Terms and Conditions of Use</h4>

<p>Urlist S.r.l. (referred to as the "Company") offers  on line information services on its web site http://urli.st/ (referred to as "Website"). Before using the Website, you (referred to as the "User") are invited to read the following terms and conditions (the "Terms") that regulate its usage. Upon accessing, and/or registering to the Website the User agrees to the following terms and conditions. If you do not agree with these Terms, do not  use the Website.</p>

<h4>2. Registration</h4>

<p>In order to access certain sections of the Website, registration may be required. You can register (i) directly through the User's Google or Twitter or Facebook account; therefore, Google or Twitter or Facebook's terms and conditions concerning the data exchange to directly access to third parties' websites shall apply; (ii) Through the Website; whereby the User shall enter a valid username and password as part of the registration process. The User is solely responsible for maintaining the confidentiality and security of his/her  username and password and shall not transfer his/her account details to third parties. The User shall notify the Company of any unauthorized use of his username and password or any other breach of the relevant account. As regards data protection, see the "Privacy" section here below section.</p>

<h4>3. Grant of license</h4>

<p>By submitting any link,  any list of links, or any other content in the forms or spaces available to the User in the specific areas of the Website (referred to as the "Lists"), the User hereby grants permission to the other users of the Website to accede to the Lists and all their contents under the terms and conditions provided for by the Creative Commons License, version "CC BY-NC-SA 3.0" (available at http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode).
All the cover images of the lists are public, which means anyone visiting Lists will be able to see the cover image. Cover images can't be deceptive, misleading, infringe on anyone else's copyright or be in violation of this Terms.</p>

<h4>4. Proprietary Rights</h4>

<p>Save as expressly provided in section 5 below, the Website and all its contents, including without limitation, databases, materials, works, layouts, images, photographs, drawings, articles, texts, documents, news, audio sequences, sequences of images with or without audio soundtrack, or any part thereof (the "Contents"), the trademarks, logos, domain names and every other distinctive sign reproduced on the Website (the "Signs"), as well as every graphic or design setting, software, codes and format scripts used to implement the Website (the "Software) are the subject matter of and protected by proprietary rights vested in the Company, including without limitation, industrial and intellectual property rights, author's rights and/or copyright and trademark rights. </p>

<p>Therefore, the Website and all its contents, including without limitation the Contents, the Signs and the Software, or any part thereof, may not be copied, reproduced, downloaded, uploaded, transmitted, communicated to the public, adapted, translated, modified in any manner, form or format, unless as far as permitted by applicable laws, including Italian copyright law (law n. 633 dated 22nd April 1941), and in any event without causing any prejudice to the economic and moral interests of the owner of proprietary rights and/or rights of economic exploitation in and to the above.</p>

<h4>5. Use of the Lists by the User</h4>

<p>Without any limitation of the provision under section 4 above, the Lists and all their contents are available to the User under the terms and conditions described by the Creative Commons License, version "CC BY-NC-SA 3.0" (available at http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode).</p>

<h4>6. Limitation of liability</h4>

<p>The access to the Website and the use of its services and contents  are provided "as is" (in their current factual and legal condition) without warranty of any kind with respect to the features and/or quality of the services and/or contents offered by the Website or its continuity or availability. In view of the above, the User agrees that the Company may, at its discretion and without liability to the User, with or without cause, with or without prior notice and at any time, terminate the access to the Website and/or to the Lists and/or the services provided. </p>

<p>Without limiting the foregoing, the User agrees that all data and information, including commercial data and information contained in the Website are provided in good faith by the Company without warranty of any kind, express or implied, with respect to their accuracy and/or completeness.</p>

<p>In no event, within the limits of applicable laws, shall the Company be liable to any direct or indirect damages deriving from the access and/or the use of the Website, its contents, including without limitation the Contents, the Signs, the Lists, the Software, the data and information contained in the Website.</p>

<h4>7. Links to other websites or webpages</h4>

<p>The Company is not responsible for the content of any other website that can be accessed from the Website. If the User decides to visit a website linked to the Website and/or listed in its Lists, he/she does so entirely at his/her own risk, thereby assuming all responsibilities for the implementation of all necessary measures against viruses and/or other disruptive elements. The Company informs the User that it exerts no control over the content of third party websites accessible from the Website  through the Lists and as mere third party the Company is not liable for the content and materials, including advertising content and materials, publicized by such websites and/or for products or services offered, which  shall by no means be considered as endorsed, agreed upon or powered by the Company.</p>

<h4>8. Contents and warranties by the User</h4>

<p>The User represents and warrants that his/her rights are sufficient to grant the Company the License. The User acknowledges and accepts that the initiative of sending communications to the Company through the Website, including the Lists inserted by the User in the forms and/or spaces available to the User in specific areas of the Website, is taken by the User. The User agrees that any and all communications sent to the Company and any and all Lists inserted by the User in the forms and/or spaces available to the User in specific areas of the Website, do not infringe any proprietary right and/or any other right of third parties, including without limitation proprietary rights concerning data and information of third parties.</p>

<p>Under no circumstances shall the Company be liable for any infringement of any proprietary rights and/or of other rights of users or third parties, including rights to their likeness, honor, reputation and their privacy, deriving from the sending of communications to the Company through the Website and the insertion of Lists in the forms and/or spaces available to the User in specific areas of the  Website. </p>

<p>The Company does not support, sanction, encourage, verify or agree with the opinions and/or information and/or data contained in the communications sent to the Company and/or in the Lists inserted in the forms and/or spaces available to the User in specific areas of the Website. The Company shall not be liable for the opinions, information, data contained in the communications sent to the Company and/or in the Lists inserted in the forms and/or spaces available to the User in specific areas of the Website, and the User shall be liable for such communications and Lists.</p>

<h4>9. Use for lawful purposes</h4>

<p>The User shall use the Website and its services  exclusively for lawful purposes and without infringing any law and any rights of any third party specifically in compliance with the applicable laws on intellectual and industrial property rights, data protection, computer crimes and telecommunications. In particular, without limiting the foregoing, the User agrees that he/she must not post or submit any List and/or any link and/or any other content that: (i) contains sexually explicit content; (ii) contains,  encourages, depicts, and/or supports sexual abuse of minors under any applicable law; (iii) encourages the discrimination towards any ethnic, racial, sexual, religious, or other group; (iv) supports the dealing and/or transfer of illicit drugs; (v) infringes the copyright, trademark, or other intellectual property rights of any person and/or is anyhow libelous.</p>

<p>In such cases, the Company is entitled to, in its discretion and without any prior notice to the User, edit, remove or delete any List and/or link and/or content published.</p>

<h4>10. Indemnity</h4>

<p>The User shall not hold the Company and/or its employees and/or its representatives and/or collaborators  responsible for any claim, action, demand of any third party deriving from and/or connected with the communications to the Company and/or the insertion of the Lists in the forms and/or spaces available to the User in specific areas of the Website and/or the infringement of the Terms by the User. </p>

<h4>11. Privacy</h4>

<p>The management  of personal data by the Website is described in the webpage entitled Privacy Policy.</p>

<h4>12. Changes</h4>

<p>The Company reserves the right to modify all or part of the Terms by publishing a new version thereof on the Website along with a visible notice in the Website informing that a new version of the Terms has been published. Every new version of the Terms published by the Company on the Website shall be in force from the day following its publication on the Website.</p>

<h4>13. Applicable law</h4>

<p>The Terms in this legal note are governed by Italian laws.</p>

{% end %}
