<div class="resource-section js-resource-section">

    <div class="resource-container">

        <h3 class="resource-title">
            <span>
                {{title}}
            </span>
        </h3>

        <div class="resource-content resource-content--soundcloud">
            {{{html}}}
        </div>

        <p class="resource-info">
            <a class="resource-origin" href="{{url}}" target="_blank">
                <img src="{{favicon}}" alt />
                {{url}}
            </a>
        </p>

    </div>

</div>
