<div class="resource-section js-resource-section">

    <div class="resource-container">

        <h3 class="resource-title">
            <span>
                {{title}}
            </span>
        </h3>

        <iframe class="resource-item vimeo-player" src="http://player.vimeo.com/video/{{video_id}}" width="640" height="385" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>

        <p class="resource-info">
            <a class="resource-origin" href="#">
                <img src="{{favicon}}" alt />
                {{url}}
            </a>
        </p>

    </div>

</div>
