<div class="resource-section js-resource-section">

    <div class="resource-container">

        <h3 class="resource-title">
            <span>
                {{title}}
            </span>
        </h3>
        
        <iframe class="resource-item youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{{video_id}}?wmode=opaque&autoplay=1&start={{start}}" allowfullscreen frameborder="0">
        </iframe>

        <p class="resource-info">
            <a class="resource-origin" href="{{url}}" target="_blank">
                <img src="{{favicon}}" alt />
                {{url}}
            </a>
        </p>

    </div>

</div>
